* {
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
}

body {
    width: 100%;
    font-size: 2.5rem;
}

.transformation1 {
    width: 300px;
    height: 300px;
    background-color: #CCE154;
    border: 2px dashed black;
    transform: rotate(-35deg);
    margin: 100px 100px auto;
}

p {
    transform: rotate(90deg);
    display: inline-block;
}

.translation1 {
    transform: rotate(-35deg);
    background-color: #B61769;
}

.translation1, .translation2 {
    height: 200px;
    width: 200px;
    border: 2px dashed purple;
    margin-left: 30rem;
}

.echelle {
    width: 300px;
    height: 300px;
    background-color: #3482DC;
    border: 4px dashed brown;
    transform: scale(1.50);
    position: absolute;
    right: 40rem;
    z-index: -1;
}

.cube {
    width: 300px;
    height: 300px;
    background-color: #E66C30;
    border: 4px dashed brown;
    position: absolute;
    right: 40rem;
}

.oblique {
    width: 300px;
    height: 300px;
    background-color: #A60B0B;
    border: 3px dashed green;
    transform: skewX(25deg) skewY(45deg);
    position: absolute;
    top: 80rem;
    left: 15rem;
}

@media screen and (max-width: 600px){

    * {
        margin: 0;
        padding: 0;
    }

}